.adminHeadernav{
    background-color: #DCDCDC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #36454F;
  }
  
  .adminLogoutBtn{
    border-radius: 5px;
    border: 1px #1864ab solid;
    margin-top: 15px;
    width: 70px;
    height: 35px;
   background-color: transparent;
    color: #36454F;
  }